.faq-container {
  max-width: 1056px;
  width: 100%;
  margin: 32px 0;
}

.faq-title {
  font-weight: 800;
  font-size: 18px;
  margin: 16px 0;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.faq-item {
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-question {
  width: 100%;
  padding: 16px;
  color: gray;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: none;
  display: flex;
  background: none;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
  transition: background 0.3s ease;
}

.chevron {
  transition: transform 0.3s ease;
}

.chevron.rotate {
  transform: rotate(180deg);
}

.faq-answer {
  padding: 16px;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .faq-container{
    padding: 0 28px;
  }
}